<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="authorizeService" class="com.bulain.jbpm4order.service.AuthorizeServiceImpl"/>
	<bean id="contentService" class="com.bulain.jbpm4order.service.ContentServiceImpl"/>
	<bean id="groupService" class="com.bulain.jbpm4order.service.GroupServiceImpl"/>
	<bean id="loginService" class="com.bulain.jbpm4order.service.LoginServiceImpl"/>
	<bean id="mailTemplateService" class="com.bulain.jbpm4order.service.MailTemplateServiceImpl"/>
	<bean id="masterService" class="com.bulain.jbpm4order.service.MasterServiceImpl"/>
	<bean id="orderService" class="com.bulain.jbpm4order.service.OrderServiceImpl"/>
	<bean id="personService" class="com.bulain.jbpm4order.service.PersonServiceImpl"/>
	<bean id="profileService" class="com.bulain.jbpm4order.service.ProfileServiceImpl"/>
	<bean id="referanceService" class="com.bulain.jbpm4order.service.ReferanceServiceImpl"/>
</beans>