<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="authorizeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.AuthorizeMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="contentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.ContentMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="groupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.GroupMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="loginMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.LoginMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="groupLoginMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.GroupLoginMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="groupPermissionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.GroupPermissionMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="mailTemplateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.MailTemplateMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="masterMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.MasterMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="orderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.OrderMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="permissionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.PermissionMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="personMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.PersonMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="profileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.ProfileMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="referanceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property  name="mapperInterface"  value="com.bulain.jbpm4order.dao.ReferanceMapper"  />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
</beans>