<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.jbpm4order.dao.AuthorizeMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.jbpm4order.model.Authorize" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="controller" property="controller" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, controller, action, permission, created_by, created_at, updated_by, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from authorizes
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from authorizes
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.bulain.jbpm4order.model.Authorize" >
    insert into authorizes (controller, action, permission, created_by, created_at, updated_by, 
      updated_at)
    values (#{controller}, #{action}, #{permission}, #{createdBy}, #{createdAt}, #{updatedBy}, 
      #{updatedAt})
    <selectKey resultType="java.lang.Long" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.jbpm4order.model.Authorize" >
    insert into authorizes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="controller != null" >
        controller,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="controller != null" >
        #{controller},
      </if>
      <if test="action != null" >
        #{action},
      </if>
      <if test="permission != null" >
        #{permission},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.jbpm4order.model.Authorize" >
    update authorizes
    <set >
      <if test="controller != null" >
        controller = #{controller},
      </if>
      <if test="action != null" >
        action = #{action},
      </if>
      <if test="permission != null" >
        permission = #{permission},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.jbpm4order.model.Authorize" >
    update authorizes
    set controller = #{controller},
      action = #{action},
      permission = #{permission},
      created_by = #{createdBy},
      created_at = #{createdAt},
      updated_by = #{updatedBy},
      updated_at = #{updatedAt}
    where id = #{id}
  </update>
  
<!-- custom -->
  <sql id="where">
  	<where>
  		<if test="controller!=null and controller!='' ">
  			and controller = #{controller}
  		</if>
  		<if test="action!=null and action!=''">
  			and action = #{action}
  		</if>
  	</where>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.AuthorizeSearch">
  	select 
    <include refid="Base_Column_List" />
    from authorizes
    <include refid="where"/>
    <include refid="common.orderby"/>
  </select>
  <select id="count" resultType="java.lang.Long" parameterType="com.bulain.jbpm4order.pojo.AuthorizeSearch">
  	select count(*)
    from authorizes
    <include refid="where"/>
  </select>
  <select id="page" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.AuthorizeSearch">
  	<![CDATA[${PAGE_HEAD}]]>
  	select 
    <include refid="Base_Column_List" />
    from authorizes
    <include refid="where"/>
    <include refid="common.orderby"/>
    <![CDATA[${PAGE_FOOT}]]>
  </select>
</mapper>