<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.jbpm4order.dao.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.jbpm4order.model.Login" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="person_id" property="personId" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="hashed_password" property="hashedPassword" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, person_id, login_name, email, hashed_password, enabled, created_by, created_at, 
    updated_by, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from logins
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from logins
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.bulain.jbpm4order.model.Login" >
    insert into logins (person_id, login_name, email, hashed_password, enabled, created_by, 
      created_at, updated_by, updated_at)
    values (#{personId}, #{loginName}, #{email}, #{hashedPassword}, #{enabled}, #{createdBy}, 
      #{createdAt}, #{updatedBy}, #{updatedAt})
    <selectKey resultType="java.lang.Integer" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.jbpm4order.model.Login" >
    insert into logins
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        person_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="hashedPassword != null" >
        hashed_password,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        #{personId},
      </if>
      <if test="loginName != null" >
        #{loginName},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="hashedPassword != null" >
        #{hashedPassword},
      </if>
      <if test="enabled != null" >
        #{enabled},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.jbpm4order.model.Login" >
    update logins
    <set >
      <if test="personId != null" >
        person_id = #{personId},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="hashedPassword != null" >
        hashed_password = #{hashedPassword},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.jbpm4order.model.Login" >
    update logins
    set person_id = #{personId},
      login_name = #{loginName},
      email = #{email},
      hashed_password = #{hashedPassword},
      enabled = #{enabled},
      created_by = #{createdBy},
      created_at = #{createdAt},
      updated_by = #{updatedBy},
      updated_at = #{updatedAt}
    where id = #{id}
  </update>
  
<!-- custom -->
  <sql id="where">
  	<where>
  		<if test="loginName != null and loginName != '' ">
  			and login_name = #{loginName}
  		</if>
  		<if test="email != null and email != '' ">
  			and email = #{email}
  		</if>
  		<if test="enabled != null and enabled != '' ">
  			and enabled = #{enabled}
  		</if>
  		<if test="groupId != null">
  			and exists (select 1 from group_logins where group_logins.login_id = logins.id and group_logins.group_id = #{groupId})
  		</if>
  	</where>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.LoginSearch">
  	select 
    <include refid="Base_Column_List" />
    from logins
    <include refid="where"/>
    <include refid="common.orderby"/>
  </select>
  <select id="count" resultType="java.lang.Long" parameterType="com.bulain.jbpm4order.pojo.LoginSearch">
  	select count(*)
    from logins
    <include refid="where"/>
  </select>
  <select id="page" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.LoginSearch">
  	<![CDATA[${PAGE_HEAD}]]>
  	select 
    <include refid="Base_Column_List" />
    from logins
    <include refid="where"/>
    <include refid="common.orderby"/>
    <![CDATA[${PAGE_FOOT}]]>
  </select>
  
  <select id="countLoginByGroupId" resultType="java.lang.Long" parameterType="java.lang.Integer">
  	select count(*)
    from group_logins 
    where group_id = #{groupId}
  </select>
  <select id="findLoginByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select l.id, l.person_id, l.login_name, l.email, l.hashed_password, l.enabled, l.created_by, l.created_at, l.updated_by, l.updated_at
    from logins l
    join group_logins gl on gl.login_id = l.id
    where gl.group_id = #{groupId}
    order by l.id
  </select>
  <select id="findLoginByNoGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select l.id, l.person_id, l.login_name, l.email, l.hashed_password, l.enabled, l.created_by, l.created_at, l.updated_by, l.updated_at
    from logins l
    where not exists (select 1 from group_logins gl where gl.login_id = l.id and gl.group_id = #{groupId})
    order by l.id
  </select>
  <select id="findLoginByLoginNames" resultMap="BaseResultMap" parameterType="java.lang.Object">
  	select l.id, l.person_id, l.login_name, l.email, l.hashed_password, l.enabled, l.created_by, l.created_at, l.updated_by, l.updated_at
    from logins l
    <foreach collection="array" open="where l.login_name in(" close=")" item="item" separator=",">
    	#{item}
    </foreach>
    order by l.id
  </select>
</mapper>