<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.jbpm4order.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.jbpm4order.model.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permission, created_by, created_at, updated_by, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permissions
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permissions
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.bulain.jbpm4order.model.Permission" >
    insert into permissions (permission, created_by, created_at, updated_by, updated_at)
    values (#{permission}, #{createdBy}, #{createdAt}, #{updatedBy}, #{updatedAt})
    <selectKey resultType="java.lang.Long" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.jbpm4order.model.Permission" >
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permission != null" >
        permission,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permission != null" >
        #{permission},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.jbpm4order.model.Permission" >
    update permissions
    <set >
      <if test="permission != null" >
        permission = #{permission},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.jbpm4order.model.Permission" >
    update permissions
    set permission = #{permission},
      created_by = #{createdBy},
      created_at = #{createdAt},
      updated_by = #{updatedBy},
      updated_at = #{updatedAt}
    where id = #{id}
  </update>
  
  <!-- custom -->
  <sql id="where">
  	<where>
  		<if test="permission != null and permission != '' ">
  			and permission = #{permission}
  		</if>
  	</where>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.PermissionSearch">
  	select 
    <include refid="Base_Column_List" />
    from permissions
    <include refid="where"/>
    <include refid="common.orderby"/>
  </select>
  <select id="count" resultType="java.lang.Long" parameterType="com.bulain.jbpm4order.pojo.PermissionSearch">
  	select count(*)
    from permissions
    <include refid="where"/>
  </select>
  <select id="page" resultMap="BaseResultMap" parameterType="com.bulain.jbpm4order.pojo.PermissionSearch">
  	<![CDATA[${PAGE_HEAD}]]>
  	select 
    <include refid="Base_Column_List" />
    from permissions
    <include refid="where"/>
    <include refid="common.orderby"/>
    <![CDATA[${PAGE_FOOT}]]>
  </select>
  
    <select id="findPermissionByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select p.id, p.permission, p.created_by, p.created_at, p.updated_by, p.updated_at
    from permissions p
    where exists (select 1 from group_permissions gp where gp.permission = p.permission and gp.group_id = #{groupId})
    order by p.id
  </select>
  <select id="findPermissionByNoGroupId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select p.id, p.permission, p.created_by, p.created_at, p.updated_by, p.updated_at
    from permissions p
    where not exists (select 1 from group_permissions gp where gp.permission = p.permission and gp.group_id = #{groupId})
    order by p.id
  </select>
</mapper>